# Config files
config_inc.php
custom_constant_inc.php
custom_strings_inc.php
custom_functions_inc.php
mantis_offline.php

# Docbook builds
docbook/*/*/builddate
docbook/*/*/build
docbook/*/*/install

# Untracked plugins
plugins/*

# IDE/Editor temporary files
*~
*.swp
*.bak
.project
nbproject
.directory

# IIS7 
web.config

# external frameworks and dynamic generated content
public/external/*
public/compiled/*
